
<div id="form_user">
  <%= form_for :user do |f| %>
    <li>Username: <%= f.text_field :username%></li>
    <li>Email: <%= f.text_field :email%></li>
    <li>First name: <%= f.text_field :first_name %></li>
    <li>Last name : <%= f.text_field :last_name %></li>

<p>Address:</p>
    <%= f.fields_for :address do |o| %>
      <li>Street: <%= o.text_field :street %></li>
      <li>City: <%= o.text_field :city %></li>
      <li>Postal Code: <%= o.text_field :postal_code %></li>
      <li>Province: <%=@province.first.name%></li>
      <%o.text_field :province_id, :value =>@province.first.id%>
    <% end %>
  <li><%= f.submit %></li>
  <% end %>
</div>