<div class="search">



<%= form_with(url: searchproduct_path, local:true, method: "get") do %>
  <div class="select">
  <% categories = Category.group(:name)%>
  <%=select_tag :categories, options_from_collection_for_select(categories, "id", "name"),prompt: "Select a category"%>

  </div>
  <div class="field has-addons">
    <div class="control">
      <%= text_field_tag(:search_term, nil, class:'input', placeholder:'Product by name') %>
    </div>
    <div class="control">
      <%= submit_tag("Search", class:"button is-info") %>
    </div>
  </div>
<% end %>
  <div class="paginate">
    <%=paginate @products%>
  </div>
</div>

