
<div class="columns">
  <div class="card1">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure>
            <%=image_tag(@product.image, size: "400", alt: @product.title)%>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4 has-text-danger"><%=@product.title%></p>
          <p> Qty: <%=@product.quantity%></p>
          <p> Price: <%=number_to_currency @product.price.to_i%></p>
          <p>Description: <%=@product.description%></p>
        </div>
      </div>
    </div>
  </div>
</div>


  <footer class="card-footer">
    <p class="tag is-warning is-medium"><%= link_to @product.category.name, @product.category%></p>
  </footer>




