<!DOCTYPE html>
<html>
  <head>
    <title>Red River Bay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="section">
    <div class="container">
      <header>
        <h1 class="title is-1 is-danger has-danger"><%= link_to 'Red River Bay', root_path %></h1>
        <h2><%= link_to 'Products', root_path %> | <%= link_to 'Categories', categories_path %> | <%= link_to 'About', about_path %> | <%= link_to 'Contact', contact_path %> </h2>
      </header>
    <%= yield %>
  </body>
</html>


