<!DOCTYPE html>
<html>
  <head>
    <title>Red River Bay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

  </head>

  <body>
    <section class="section has-text-dark">
    <div class="container">
      <header>
        <div id="topHeader">
          <h1 class="title is-1 is-danger has-danger"><%= link_to image_tag("logo.png"), root_path %></h1>
          <div id="shoppingCartHeader">
            <p><%= link_to image_tag("shopping_cart.png" ,size: "30"), orders_path %></p>
            <p>Items: <%=@cart.count%></p>
          </div>
        </div>
        <h2><%= link_to 'Products', root_path %> | <%= link_to 'Categories', categories_path %> | <b><%= link_to 'New Products', newproducts_path %></b> | <b><%= link_to 'Updated Products', updateproducts_path %></b> | <%= link_to 'About', about_path %> | <%= link_to 'Contact', contact_path %> </h2>
      </header>
    <%= yield %>
  </body>
</html>

